* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding-top: 45px;
  color:  rgba(7, 65, 255, 0.911);
  text-shadow: 2px 2px rgb(2, 255, 99);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 125px;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(95, 215, 255), cyan, rgb(60, 60, 253));
  height: 100vh;
  width: 100vw;
}
.container {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
#gameBoard {
  max-height: 25vh;
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 26vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  rgba(7, 65, 255, 0.911);
  text-shadow: 2px 2px rgb(2, 255, 99);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 3px solid red;
  font-size: 200px;
}
#b0, #b1, #b2 {
  border-top: none;
}
#b0, #b3, #b6 {
  border-left: none;
}
#b2, #b5, #b8 {
  border-right: none;
}
#b6, #b7, #b8 {
  border-bottom: none;
}
.result {
  display: none;
  background: cover;
  height: 50vh;
  width: 50vw;
  background: navy;
  opacity: 0.9;
  color: rgb(0, 253, 148);
  font-size: 100px;
  text-align: center;
  padding-top: 45px;
  text-shadow: 3px 4px red;  
}
#reset {
  padding: 25px 25px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  margin-left: 350px;
  margin-top: 25px;
  background: linear-gradient(to right, rgb(95, 215, 255), cyan, rgb(60, 60, 253));
  color: red;
  text-shadow: 1.5px 1.5px rgb(0, 255, 149);
}
#reset:hover {
  padding: 30px 30px;
  background: linear-gradient(to left, rgb(95, 215, 255), cyan, rgb(60, 60, 253));
  color: yellowgreen;
}
#reset:active {
  background: red;
}
