* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  padding-top: 45px;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(95, 215, 255), cyan, rgb(60, 60, 253));
  height: 100vh;
  width: 100vw;
}
.container {
  padding: 25px;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
#gameBoard {
  max-height: 25vh;
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}
.box {
  height: 26vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  rgba(7, 65, 255, 0.911);
  text-shadow: 2px 2px rgb(2, 255, 99);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 3px solid red;
  font-size: 200px;
}
#b0, #b1, #b2 {
  border-top: none;
}
#b0, #b3, #b6 {
  border-left: none;
}
#b2, #b5, #b8 {
  border-right: none;
}
#b6, #b7, #b8 {
  border-bottom: none;
}